In [ ]:
import pandas as pd
pd.options.display.max_rows = 5
pd.options.display.max_columns = 10
df_auto = pd.read_csv('dataset/auto-mpg.csv')
df_auto

In [ ]:
# Q. df_auto 데이터세트에 대한 파악 내용을 기술하세요.

In [ ]:
df_auto.columns

In [ ]:
columns = ['car name','mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model year', 'origin']
mtcars = df_auto[columns]
mtcars.to_csv('dataset/mtcars1.csv')
# mtcars.to_csv('dataset/mtcars.csv',index=None)
mtcars = pd.read_csv('dataset/mtcars1.csv',index_col=0)
mtcars

In [ ]:
# 원하는 행과 열 선택
import warnings
warnings.filterwarnings('ignore')
mtcar_3 = df_auto.head(3)
mtcar_3.drop('car name',axis=1,inplace=True)
mtcar_3

In [ ]:
# 행,열 선택
mtcars_2 = mtcars[['car name','mpg', 'model year']][5:8]
mtcars_2

In [ ]:
mtcars_3 = mtcars.iloc[5:8,3:6]
mtcars_3

In [ ]:
# 과제
# Q. iloc, loc 사용하여 다른 방법으로 
# mtcars[['car name','mpg', 'model year']][5:8] 와 동일하게 출력하세요.

In [ ]:
mcar = mtcars.copy()
mcar

In [ ]:
mcar1 =mcar.set_index('car name')
mcar1

In [ ]:
mcar = mcar1.reset_index()
mcar

In [ ]:
mcar.to_csv('dataset/mcar.csv',index=None)
mcar = pd.read_csv('dataset/mcar.csv')
mcar

In [ ]:
pd.set_option('max_rows', 5) 
pd.set_option('max_columns', 10)
mcar

In [ ]:
pd.set_option('max_rows', 10) 
pd.set_option('max_columns', 10)
mcar.describe()

In [ ]:
mcar.info()

In [ ]:
# 자동차 연비에 영향을 주는 변수를 선택하여 연비 예측 모델을 생성
mcar1 = mcar.drop(['car name','horsepower'],axis=1)
mcar1.head()

In [ ]:
import seaborn as sns
sns.pairplot(mcar1)

In [ ]:
mcar1.corr()

In [ ]:
# 최적의 컬럼 선택하여 분석용 데이터 셋 구축 - Feature engineering
mcar2 = mcar1[['mpg','weight']]
mcar2.head()

In [ ]:
# Counter
from collections import Counter
my_list = ['a','b','c','a','b','c','a']
count = Counter(my_list)
print(count)
words = dict(count.most_common(n=2))
print(words)

In [ ]:
# 반올림
import pandas as pd
import numpy as np

col1 = np.random.uniform(10,20,size=10) # 10 ~ 20 사이 실수 10개
col2 = np.random.uniform(10,20,size=10)
sr1 = pd.Series(col1,name='col1')
sr2 = pd.Series(col2,name='col2')
df = pd.concat([sr1,sr2],axis=1)
df = df.round({'col1':2,'col2':1})
df.head(3)

In [ ]:
# df.iloc[1:3,:] = None
df.iloc[1:3,:] = np.nan
df.head()

In [ ]:
df.fillna(0,inplace=True)
# df = df.astype(int)
df = df.astype({'col1':'int','col2':'int'})
df.head()

In [ ]:
df['col0'] = list('abcdefghij')
df.set_index('col0',inplace=True)
df.head()

In [ ]:
df1 = df.copy()
df1.loc['c','col2'] = np.nan
df1.head()

In [ ]:
# Q. col2의 평균값으로 null 값 대체하세요.
# df3 = df1.replace(np.nan,df1['col2'].mean())
df3 =  df1.fillna(df1['col2'].mean())
df3 = df3.round({'col2':2})
df3.head()

In [ ]:
# Q. col2를 정수로 변환하여 출력
# df3 = df3.astype({'col2':'int'})
df3['col2'] = df3.col2.astype(int)
df3.head()

In [ ]:
df3.iloc[1:3,1:2] = np.nan
df3.head()

In [ ]:
# null값 삭제
df3.dropna(subset=['col2'],inplace=True)
df3.head()

In [ ]:
df1['col2'] = df1.col2.astype(int)
df1

In [ ]:
df2 = df1.reset_index()
df2.head()

In [ ]:
df3 = df2.reindex(index=[1,2],columns=['col1','col2'])
df3

In [ ]:
df4 = df2.reindex(index=[3,4],columns=['col1','col2'])
df4

In [ ]:
# Q. df2에서 col1과 col2만 출력하세요.
# df5 = df2.reindex(columns=['col1','col2'])
df5 = df2.reindex(['col1','col2'],axis=1)
df5.head()

In [ ]:
# df6 = df2.reindex([1,3],axis='index')
df6 = df2.reindex([1,3],axis=0)
df6

In [ ]:
import numpy as np
import pandas as pd
data1 = np.arange(1,21).reshape(4,5)
data2 = np.arange(11,31).reshape(5,4)
df1 = pd.DataFrame(data1, columns=list('abcde'))
df2 = pd.DataFrame(data2, columns=list('dehi'))
print(df1,'\n')
print(df2)

In [ ]:
con1 = pd.concat([df1,df2],axis=0)
# con1 = pd.concat([df1,df2],axis=0,ignore_index=True)
con1

In [ ]:
con2 = pd.concat([df1,df2],axis=1)
con2.head()

In [ ]:
df1['ind'] = [1,2,3,4]
df1

In [ ]:
df2['ind'] = [1,2,3,4,5]
df2

In [ ]:
# merge() 를 이용한 결합
pd.merge(df1,df2,on='ind',how='outer')
pd.merge(df1,df2,on='ind') # drfault

In [ ]:
df1 = df1.drop('ind',axis=1)
df2 = df2.drop('ind',axis=1)

In [ ]:
# join은 인덱스 기준으로 결합(default는 교집합)
# df1.join(df2,lsuffix='_1',rsuffix='_2')
df1.join(df2,lsuffix='_1',rsuffix='_2',how='inner')

In [ ]:
df1.join(df2,lsuffix='_1',rsuffix='_2',how='outer')

In [ ]:
df1['ind'] = [1,2,3,4]
df2['ind'] = [1,2,3,4,5]

In [ ]:
df1.set_index('ind').join(df2.set_index('ind'),lsuffix='_1',rsuffix='_2')

In [ ]:
df1.set_index('ind').join(df2.set_index('ind'),lsuffix='_1',rsuffix='_2',how='outer')

In [ ]:
df1.set_index('ind').join(df2.set_index('ind'),lsuffix='_1',rsuffix='_2',on='ind',how='outer')

In [ ]:
df1

In [ ]:
# Q. a, b 컬럼의 평균을 구하세요.
df1[['a','b']].mean()

In [ ]:
df1.count()

In [ ]:
data = np.arange(1,22).reshape(7,3)
df = pd.DataFrame(data,columns=list('abc'),index=list('1122333'))
df

In [ ]:
df.reset_index(inplace=True)
df

In [ ]:
# 과제
# Q1. index를 기준으로 3개 그룹으로 구분하여 a:평균, b:최대값, c:합계를 
# 각각 계산하여 출력하세요.
# d_g = df.groupby('index').mean()
agg_format={'a':'mean','b':'max','c':'sum'}
df_g = df.groupby('index').agg(agg_format)
df_g

In [ ]:
# 과제
# Q2. deck 열의 NaN 갯수를 계산하세요.
import seaborn as sns
titanic_df = sns.load_dataset('titanic')
titanic_df.head()

In [ ]:
titanic_df.deck.isnull().sum()

In [ ]:
# 과제
# Q3. titanic_df의 처음 5개 행에서 null 값을 찾아 출력하세요.(True, False로)
titanic_df.head().isnull()

In [ ]:
# 과제
# Q4. titanic_df의 각 칼럼별 null의 갯수를 for 반복문을 사용해서 구한 후 
# 출력하세요. (missing_count는 예외 처리하고 처리 방식은 0을 출력함 
# - null 값이 없으면 0  )
missing_df = titanic_df.isnull()
# print(missing_df)
for col in missing_df.columns:
    missing_count = missing_df[col].value_counts()
    try:
        print(col, ': ',missing_count[True])
    except:
        print(col, ': ', 0)

In [ ]:
# 과제
# Q5. 'mpg'를 'kpl' 로 환산하여 새로운 열을 생성하고 처음 3개 행을 소수점 아래 
# 둘째 자리에서 반올림하여 출력하세요.
import pandas as pd
auto_df = pd.read_csv('./dataset/auto-mpg.csv')
auto_df.head()
mpg_to_kpl = 1.60934 / 3.78541 
auto_df['kpl'] = (auto_df.mpg * mpg_to_kpl).round(2)
print(auto_df.head())

In [ ]:
# 과제
# Q6. titanic_df 데이터 셋을 전처리하고 탐색하여 데이터 셋에 대한 설명 및
# 분석 과제를 기술하세요 (전처리 최소 5개 이상)

In [ ]:
# groupby
import seaborn as sns
titanic_df = sns.load_dataset('titanic')
titanic_df.head()

In [ ]:
tdf = titanic_df.copy()
tdf.sex.value_counts()

In [ ]:
tdf.groupby('sex').count()[['survived']]

In [ ]:
tdf.groupby('sex').apply(lambda x:x.count())[['survived']]

In [ ]:
# Q. sibsp, parch 컬럼의 각 원소에 1을 추가해 주세요.
tdf_e1 = tdf[['parch', 'sibsp']].apply(lambda x : x + 1)
tdf_e1.head()

In [ ]:
def uppercase(x):
    return x.upper()

tdf.sex.apply(uppercase)[:2]

In [ ]:
len(tdf.age.unique())

In [ ]:
# Q. 'age' 컬럼을 범주화하여 새로운 'age_class' 컬럼을 생성하세요.
# (null값은 별도로 처리 필요)

def agegroup(x):
    cat = ''
    if x < 10:
        cat = 'child'
    elif x < 25:
        cat = 'young'
    elif x < 40:
        cat = 'adult'
    elif x < 60:
        cat = 'senior'
    else:
        cat = 'old'
        
    return cat

age_class = tdf.age.apply(lambda x:agegroup(x))

tdf['age_class'] = age_class

tdf.head()

In [ ]:
tdf.age_class.value_counts()

In [ ]:
# Q. 'survived','pclass','sex' 컬럼으로 데이터프레임 df1을 생성하세요 
df1 = tdf[['survived','pclass','sex' ]]

In [ ]:
# Q. df1에서 pclass가 3인 승객의 개수를 구하세요.
df1.pclass.value_counts()[3]

In [ ]:
df1 = tdf[['survived','pclass','sex']]
len(df1.query('pclass==3'))

In [ ]:
len(list(filter(lambda x:x == 3, df1.pclass)))

In [ ]:
tdf.columns

In [ ]:
tdf.embark_town.isnull().sum()

In [ ]:
# Q. embark_town 열의 NaN 값을 바로 앞에 있는 값으로 변경하세요.
tdf.embark_town.fillna(method='ffill',inplace=True) # 829
# tdf.embark_town.fillna(method='bfill',inplace=True) # 829
tdf.embark_town[827:831]

In [ ]:
import pandas as pd
fifa = pd.read_csv('dataset/FIFA.csv')
fifa.head()

In [ ]:
fifa.shape

In [ ]:
# height의 값을 cm로 변환하여 새로운 컬럼 'height_cm'을 생성하세요.

def ht_ex(x):
    f, i = map(int, x.split('\''))
    return f*30.48 + i*2.54

fifa['Height_cm'] = fifa['Height'].apply(ht_ex)
fifa.head()

In [ ]:
def ftinch_to_cm(ftinch):
    ftinchlist = ftinch.split("'")
    ft = int(ftinchlist[0])
    inch = int(ftinchlist[1])
    ftcm=ft*30.48
    incm = inch*2.54
    total = ftcm + incm
    return total


fifa['Height_cm']=fifa.Height.apply(lambda x:ftinch_to_cm(x))
fifa.head()

In [ ]:
fifa.info()

In [ ]:
# 과제
# Q. FiFA Player들의 연봉을 예측하는 모델을 구축하려고 한다. 
# 주어진 FIFA 데이터셋을 전처리 및 탐색하여 모델에 적합한 분석용 데이터셋을 
# 작성하고 그 근거를 기술하세요.(전처리 10개 이상)

In [ ]:
# 과제
# 명일 발표자료 준비(5분 발표시간 15분)

In [ ]:
# 중복
import pandas as pd
import numpy as np
arr = np.array([1,2,1,2,2,3,3,3])
data = arr.reshape(4,2)
df = pd.DataFrame(data,columns=['a','b'])
df

In [ ]:
df1 = df.copy()
df1.drop_duplicates()

In [ ]:
df2 = df.copy()
df2.drop_duplicates(subset=['b'])

In [ ]:
df3 = df.copy()
df3.drop_duplicates(subset='b',keep='last')

In [ ]:
# 컬럼 이름 변경
import seaborn as sns

titanic = sns.load_dataset('titanic')
titanic.head()

In [ ]:
titanic.sex.value_counts()

In [ ]:
# 특정 컬럼의 값을 변경
titanic['sex'] = titanic.sex.replace({'male':0,'female':1})
titanic.head()

In [ ]:
# 열 이름 변경 : 'sex':'gender','age':'age_cat'
titanic.rename(columns={'sex':'gender','age':'age_cat','class':'c_level'},inplace=True)
titanic.head()

In [ ]:
# 컬럼명을 대문자로 변경
titanic.columns = map(lambda x : str(x).upper(),titanic.columns)
titanic.head()

In [ ]:
titanic.rename(columns=str.upper,inplace=True)
titanic.head()

In [ ]:
titanic.rename(columns=str.lower,inplace=True)
titanic.head()

In [ ]:
titanic.rename(str.upper, axis='columns').head(3)

In [ ]:
# 컬럼 선택 : 'survived','pclass','gender','age_cat
titanic = titanic[['survived','pclass','gender','c_level']]
titanic.head()

In [ ]:
# 컬럼 순서 변경 : 'pclass','gender','age_cat','survived'
new_order = ['pclass','gender','c_level','survived']
df = titanic[new_order]
df.head()

In [ ]:
df.info()

In [ ]:
import warnings
warnings.filterwarnings('ignore')
df['gender'].replace([1,0],['female','male'],inplace=True)
df.head()

In [ ]:
# 인코딩 - LabelEncoder
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
features = ['gender','c_level']
for feature in features:
    df[feature] = le.fit_transform(df[feature])
df.head()

In [ ]:
df.gender.value_counts()

In [ ]:
df.c_level.value_counts()

In [ ]:
# 과제
# Q. embarked, who, adult_male에 대하여 LabelEncoding 하세요

In [ ]:
df = titanic[['sex','class']]
df1 = df.copy()
df1.rename(columns={'class':'c_level'},inplace=True)
df1.head()

In [ ]:
# 인코딩 - OneHotEncoder
pd.get_dummies(df1).head()

In [ ]:
from sklearn.datasets import load_boston
boston = load_boston()
print(boston.keys())
boston.target
boston.DESCR
print(boston.feature_names)
df_boston = pd.DataFrame(boston.data, columns=boston.feature_names)
df_boston['target'] = boston.target
df_boston.head()

In [ ]:
df_boston.info()

In [ ]:
# 스케일링 - 정규화
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df_boston['RM'] = scaler.fit_transform(df_boston[['RM']])
df_boston.head()

In [ ]:
df_boston.RM.mean()

In [ ]:
# 과제
# Q. df_boston 전체 컬럼에 대하여 정규화를 수행하세요.

In [ ]:
# 스케일링 - 표준화
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
df_boston['INDUS'] = scaler.fit_transform(df_boston[['INDUS']])
df_boston.head()

In [ ]:
df_boston.INDUS.mean()
df_boston.INDUS.std()

In [ ]:
# 과제
# Q. df_boston 전체 컬럼에 대하여 표준화를 수행하세요.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

plt.figure(figsize=(10,8))
sns.distplot(df_boston[['target']])

In [ ]:
# 로그 변환
import numpy as np
df_boston['target'] = np.log1p(df_boston[['target']])
sns.distplot(df_boston[['target']])

In [ ]:
# 로그 변환 환원
df_boston['target'] = np.expm1(df_boston[['target']])
df_boston.head()

### 그룹 연산
* 복잡한 데이터를 어떤 기준에 따라 여러 그룹으로 나누어서 관찰할 수 있으며 이런 방식으로 분할 처리하는 것을 그룹 연산이라 함
* 그룹 연산은 데이터를 집계, 변환, 필터링하는데 효율적이며 판다스 groupby() 메소드를 사용함
* 그룹 객체 만들기(분할)
* 그룹 연산 메소드(적용-결합)

In [ ]:
import pandas as pd
import seaborn as sns

# titanic 데이터셋에서 age, sex 등 5개 열을 선택하여 데이터프레임 만들기
titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]
# df = titanic[['age','sex', 'class', 'fare', 'survived']]
df.head()

In [ ]:
# 파이썬 예약어
import keyword
print(keyword.kwlist)

In [ ]:
# df.class는 예약어로 처리되기 때문에 df['class']로 처리
# df.class 형태로 사용하려면 예약어를 다른 이름으로 변경하여 사용
# df.class.value_counts() 
df['class'].value_counts()

In [ ]:
df=df.rename(columns={'class':'c_level'})
df.c_level.value_counts()

In [ ]:
len(df)
grouped = df.groupby(['class'])
print(grouped)

In [ ]:
list(grouped)

In [ ]:
for key, group in grouped:
    print('* key :', key)
    print('* number :', len(group))
    print(group.head(),'\n')

In [ ]:
average = grouped.mean()
average

In [ ]:
max = grouped.max()
max

#### Q. 'Third'그룹만을 선택해서 group3 이름으로 저장하고 통계요약표를 출력하세요.

In [ ]:
li = list(grouped)
li[2][1].describe()

In [ ]:
# a = grouped.groups['Third']
# group3 = df.loc[a]
group3 = grouped.get_group('Third')
group3.describe()

In [ ]:
group1 = grouped.get_group('First')
group1.describe()

#### Q. class 열, sex 열을 기준으로 분할하여 grouped_two에 저장하세요.

In [ ]:
grouped_two = df.groupby(['class', 'sex'])
grouped_two

In [ ]:
#Q. grouped_two 그룹 객체를 for문을 사용, iteration으로 출력하세요.
for key, group in grouped_two:
    print('* key:',key)
    print('* value:',group)
    print(grouped_two.head())

In [ ]:
# Q. grouped_two 그룹 객체에 연산 메소드 적용, 각 그룹의 평균값을 구한 후 
# 출력하세요
average_two = grouped_two.mean()
average_two

In [ ]:
# Q. grouped_two 그룹 객체에서 ('Third',female) 그룹을 선택해서 group3f에 
# 저장하고 처음 5개행을 출력하세요
group3f = grouped_two.get_group(('Third','female'))
group3f.head()

### 적용-결합

데이터 집계(agg), 
- 집계 연산을 처리하는 사용자 정의 함수를 그룹 객체에 적용하려면 agg() 메서드 사용
- 모든열에 여러 함수를 매핑 : group객체.agg([함수1,함수2,함수3,…])
- 각 열마다 다른 함수를 매핑 : group객체.agg({‘열1’: 함수1, ‘열2’:함수2, …})

변환(transform)
- 원소의 본래 행 인덱스와 열 이름을 기준으로 연산 결과를 반환
- 데이터 변환 연산 : group객체.transform(매핑함수)

필터링(filter)
- 그룹 객체에 filter() 메서드를 적용할 때 조건식을 가진 함수를 전달하면 조건이 참인 그룹만을 남김
- 그룹 객체 필터링 : group 객체.filter(조건 함수식)

객체에 함수 매핑(apply)
 - 판다스 객체의 개별 원소를 특정 함수에 일대일로 매핑. 사용자가 원하는 대부분의 연산을 그룹 객체에 적용
 - group 객체.apply(매핑함수)

In [ ]:
# Q. 최대값 - 최소값을 반환하는 사용자 함수를 정의하고 agg()함수에 인수로 
# 전달하여 그룹별로 집계하여 agg_minmax 이름으로 저장 후 출력하세요.

titanic = sns.load_dataset('titanic')
df = titanic.loc[:, ['age','sex', 'class', 'fare', 'survived']]

# class 열을 기준으로 분할
grouped = df.groupby(['class'])

def minmax(x):
    return x.max() - x.min()

agg_minmax = grouped.agg(minmax)
agg_minmax

In [ ]:
# 모든열에 여러 함수를 매핑 : group객체.agg([함수1,함수2,...])
agg_all = grouped.agg(['min','max'])
agg_all

In [ ]:
# 각 열마다 다름 함수 매핑 : group객체.agg({'열1':함수1, '열2':함수2,...})
# ('fare'는 'min', 'max', 'age'는 'mean')

agg_dif = grouped.agg({'fare': ['min','max'], 'age': 'mean'})
agg_dif

In [ ]:
# Q. 데이터 개수가 200개 이상인 그룹만을 필터링하여 데이터프레임으로 반환하여 
# grouped_filter 이름으로 저장 후 처음 5개행을 출력하세요.

grouped_filter = grouped.filter(lambda x : len(x) >= 200)
print(grouped_filter['class'].value_counts(),'\n')
grouped_filter.head()

In [ ]:
# Q. age 열의 평균이 30보다 작은 그룹만을 필터링하여 데이터프레임으로 반환하여 
# age_filter 이름으로 저장 후 끝에서 5개행을 출력하세요.
age_filter = grouped.filter(lambda x : x.age.mean()<30)
age_filter.tail()

In [ ]:
# z-score : 평균값에서 표준편차의 몇배 떨어져 있는지를 평가하는 수치
def z_score(x):
    return (x - x.mean()) / x.std()

age_zscore = grouped.age.apply(z_score)
age_zscore.head()

In [ ]:
age_zscore = grouped.age.transform(z_score)
age_zscore.head()

In [ ]:
age_filter = grouped.apply(lambda x : x.age.mean() < 30)
for x in age_filter.index:
    if age_filter[x] == True:
        age_filter_df = grouped.get_group(x)
        print(age_filter_df.head())
        print()

### 피벗
* 피벗 테이블을 구성하는 4가지 요소(행 인덱스, 열 인덱스, 데이터 값, 데이터 집계함수)에 적용할 데이터프레임의 열을 각각 지정하여 함수의 인자로 전달

In [ ]:
pd.set_option('display.max_columns',24)
data_pv = pd.read_pickle('dataset/data_pv.pkl')
print(data_pv)

data_pv1 = data_pv.pivot_table(index = 'Country',columns='Indicator', values='Value')

print()
print(data_pv.shape)
print(data_pv.info())
data_pv1.head()

In [ ]:
data_pv1.shape

In [ ]:
pdf1 = df.pivot_table(index = 'class',columns = 'sex',values= 'age')
pdf1

In [ ]:
# Q. Titanic df에서 행은 class, 열은 sex로 구성된 피봇 테이블을 출력하세요.
pdf1 = pd.pivot_table(df,
                     index = 'class',
                     columns = 'sex',
                     values= 'age',
                     aggfunc='mean')
pdf1

In [ ]:
# Q. 값에 적용하는 집계 함수를 2개 이상 지정 할 수 있다. 'mean', 'sum'을 
# 지정하여 출력하세요.(values = 'survived')
t2 = titanic.copy()
t3 = pd.pivot_table(t2,
                    index = 'class',
                    columns = 'sex',
                    values = 'survived',
                    aggfunc = ['mean','sum'])
t3

In [ ]:
# Q. 행, 열, 값에 사용할 열을 2개 이상 지정 할 수 있다. index, values, aggfunc에 
# 각각 2개를 지정하여 출력하세요
index=['class', 'sex']    # 행 위치에 들어갈 열
columns='survived'        # 열 위치에 들어갈 열
values=['age', 'fare']    # 데이터로 사용할 열
aggfunc=['mean', 'max']    # 데이터 집계 함수

pdf3 = df.pivot_table(index = index, columns = columns, values 
                      = values, aggfunc = aggfunc)
pdf3

In [ ]:
# 과제1
# Q. Titanic 데이터셋에 대한 탐색을 통하여 그룹 조합별 인사이트 5개 이상을
# 도출하여 기술하세요.

In [ ]:
# 과제2
# Q. auto-mpg 데이터에서 horsepower 열의 고유값을 출력하세요.
# Q. horsepower 열의 누락 데이터를 삭제한 후 NaN 값의 갯수를 출력하세요
# Q. horsepower의 타입을 실수형으로 변환한 후 자료형을 확인하고 auto_df.pkl로
# 저장 후 다시 불러와서 출력하세요.

In [ ]:
# 과제3
# Q. horsepower 열의 최대값의 절대값으로 모든 데이터를 나누는 정규화를 수행한 후 
# 통계요약표를 출력하세요.

In [ ]:
# 과제4
# Q. 아래 사항을 처리 하세요.
# origin 열의 고유값을 출력하세요.
# 정수형 데이터를 문자형 데이터로 변환한 후 고유값을 출력하세요.
# (1:'USA', 2:'EU', 3:'JAPAN')

In [ ]:
# 과제5
# Q. origin 열의 자료형을 확인하고 범주형(category)으로 변환하여 출력하세요

In [ ]:
# 과제6
# Q. origin 열을 범주형에서 문자열로 변환한 후 자료형을 출력하세요.

In [ ]:
# 과제7
# Q. horsepower를 3개의 bin으로 나누고 bin_names = ['저출력', '보통출력','고출력']
# 으로 출력하세요.(np.histogram() 함수로 3개의 bin으로 나눔)